#homepage header h1{
   position: absolute;
    z-index: 2;
    top: 4vh;
}

#cafe-contain{
    height: 75vh;
    width: 80vw;
    margin: auto;
    margin-top: 100px;
}

#cafe-contain img{
    width: 100%;
    height: 100%;
}

#homepage header img{
    object-fit: cover;
    border-radius: 250px 250px 0px 0px;
    z-index: 1;
}

#seperator{
    background-color: var(--green);
    border-top: solid 2px var(--black);
    overflow-x: hidden;
}

.sub-header{
    border-top: solid 2px var(--black);
    border-bottom: solid 2px var(--black);
    padding: 15px auto;
}

#coffee-contain{
    height: 50vh;
    margin: auto;
    margin-top: 100px;
}
#home-about img{
    width: auto;
    height: 100%;
    object-fit: fill;
    border-radius: var(--top-curve);
}

#coldbrew img{
    height: 50vh;
    border-radius: 100px 100px 0px 0px;
}

#home-menu .col-md-3{
    display: inline-flex;
}

#home-menu .coffee-card{
    border-radius : var(--top-curve);
    border: solid 2px var(--black);
    width: fit-content;
}

#home-menu img{
    height: 30vh;
    width: auto;
}

#menu-btn{
    width: fit-content;
    all: unset;
    border-radius: 15px;
    border: solid 2px var(--black);
}

@media(max-width: 768px) {
    #homepage header img{
        width: 90vw;
    }
    #contain{
       height: 40vh;
       margin-top: 50px;
    }
}