#nav{
    margin-bottom: 0px;
}

#menu .row{
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

#menu .col-lg-6{
    padding: 0px;
    margin: 0px;
}

#menu ul{
    padding: 0;
}

#menu li{
    text-decoration: none;
    border-bottom: solid 2px var(--black);
    padding: 10px 30px;
    margin-right: 12px;
}

#img-container img{
    width: 100%;
    object-fit: fill;
}

#second-menu{
    right: -110vw;
    position: absolute;
    background-color: var(--cream);
}

#menu-items h1{
    margin: 0px 12px;
    border-bottom: solid 2px var(--black);
}

#menu-items li{
    list-style: none;
    margin: 0px 12px;
    display: flex;
    justify-content: space-between;
}


@keyframes slide {
    0% { right: -50vw;}  
    100%{ right: 0vw;}
}

.open-menu{
    animation-name: slide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
