#nav{
    margin-bottom: 0px;
    height: 8vh;
    border-bottom: solid 2px var(--black);
}

#menu .row{
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

#menu .col-lg-6{
    padding: 0px;
    margin: 0px;
}

#menu ul{
    padding: 0;
}

#menu li{
    text-decoration: none;
    border-bottom: solid 2px var(--black);
    padding: 10px 30px;
    margin:0px 12px;
}

#img-container img{
    width: 100%;
    object-fit: fill;
}

#second-menu{
    right: -110vw;
    position: absolute;
    background-color: var(--cream);
}

#menu-items{
    padding: 10px 0px;
}

#menu-items h1{
    padding: 10px 30px;
}

#menu-items p{
    border-bottom: solid 2px var(--black);
    padding: 0px 30px 10px ;
    margin:0px 12px;
}

#menu-items li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}


@keyframes slide {
    0% { right: -50vw;}  
    100%{ right: 0vw;}
}

.open-menu{
    animation-name: slide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@media (max-width: 576px){
    .menu-initial{
        overflow-y: hidden;
    }

    #img-container{
        height: 55vh;
        width: 100vw;
        overflow-y: hidden;
    }

    #menu-img{
        height: 100%;
    }

    #second-menu{
        top: 63vh;
        right: 0;
        position: absolute;
        background-color: var(--cream);
    }

    .height-55{
        height: 55vh;
    }

    #menu-items{
        height: auto;
    }


@keyframes slide {
    0% { top: 63vh;}  
    100%{ top: 8vh;}
}
}