#nav{
    overflow: hidden;
    position: relative;
}

nav{
    color: var(--black);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px var(--black);
    height: 6vh;
}

nav h1{
    font-size: calc(1rem + 1vw);
}

nav img{
    height: calc(1rem + 1vw);
    width: calc(1rem + 1vw);
}

#nav-menu{
    position: fixed;
    top: 0;
    right: -100vw;
    background-color: rgba(46, 49, 56, 0.848);
    backdrop-filter: blur(6px);
    height: 100vh;
    width: 25vw;
    z-index: 100;
}

ul{
    list-style: none;
}

.dim{
    background-color: black;
}

.slide-over{
    animation-name: slide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes slide {
    0% { right: -100vw;}
    100%   { right: 0vw;}   
}

.slide-back{
    animation-name: slide2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes slide2 {
    0% { right: 0vw;background-color: rgba(46, 49, 56, 0.848) ;}
    100%   { right: -110vw;}   
}

.remove-hamburger{
    transition: opacity 2s;
    opacity: 0;
}

.add-hamburger{
    transition: opacity 2s;
    opacity: 1;
}

#nav-menu img{
    height: 50px;
    margin: auto 0;
}

#nav-menu header{
    display: flex;
    justify-content: flex-end;
    color: var(--cream);
    margin: 10px 10px 50px 10px;
}

#nav-menu li{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}