:root{
    --black: #2e3138;
    --beige: #f5f2e7;
    --green: #869d7a;
}

body{
    background-color: var(--beige) !important;
    overflow-x: hidden;
}

.bely-display{
    font-family: "bely-display", serif;
    font-weight: 400;
    font-style: normal;
}

.bely-bold{
    font-family: "bely", serif;
    font-weight: 700;
    font-style: normal;
}

.kepler{
    font-family: "kepler-std", serif;
    font-weight: 400;
    font-style: normal;
}

.kepler-italic{
    font-family: "kepler-std", serif;
    font-weight: 400;
    font-style: italic;
}